/* Conatiner & flex propertis to list cards */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Like botton modification */
.btn-danger {
  display: flex;
  align-items: center;
  height: 40px;
  width: 70px;
  background: red;
  border-radius: 4px;
  justify-content: space-between;
}

/* a white heart over red button */
.whiteincolor {
  color: white;
  font-size: 0.8em;
}
/* to align time ago & like button */
.timeLike {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* turn over comment icon  */
.fa-regular {
  transform: scaleX(-1);
}
/* stylizing comment button */
#comments-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: smaller;
}
/* to make a link person icon and stay black not blue  */
.circle-user a {
  color: #000000;
  text-decoration: none;
}
.navbar-brand a {
  color: #000000;
  text-decoration: none;
}

/* stylizing the footer */
.blockquote {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  margin-top: 15px;
  margin-bottom: 15px;
}
/* profile image stylizing */
.rounded-circle {
  display: flex;
  max-width: 150px;

  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 50%;
}

.profile-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 85%;
}
