.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}


.btn-danger {

    display: flex;
    align-items: center;
    height: 40px;
    background: red;
    border-radius: 4px;
    
}

.whiteincolor {
  display: flex;
  color: white !important;
  font-size: 0.8em;
  
}

.timeLike {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fa-regular {
    transform: scaleX(-1);

}

#comments-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: smaller;
}



