/* Conatiner & flex propertis to list cards */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Like botton modification */
.btn-danger {
  display: flex;
  align-items: center;
  height: 40px;
  width: 70px;
  background: red;
  border-radius: 4px;
  justify-content: space-between;
}

/* a white heart over red button */
.whiteincolor {
  color: white;
  font-size: 0.8em;
}
/* to align time ago & like button */
.timeLike {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* turn over comment icon  */
.fa-regular {
  transform: scaleX(-1);
}
/* stylizing comment button */
#comments-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: smaller;
}
/* to make a link person icon and stay black not blue  */
.circle-user a {
  color: #000000;
  text-decoration: none;
}
.navbar-brand a {
  color: #000000;
  text-decoration: none;
}

/* stylizing the footer */
.blockquote {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  margin-top: 15px;
  margin-bottom: 15px;
}
/* profile image stylizing */
.rounded-circle {
  display: flex;
  max-width: 150px;

  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 50%;
}

.profile-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 85%;
}
.comment-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}
.form-spinner{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
textarea {
  max-width: 100%;
}


/* spinner */

.lds-spinner {
  color: official;
  display: flex;
  position: center;

  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: rgb(10, 10, 10);
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
